@import "../styles/colors.scss";
@import "../styles/base.scss";
@import "../styles/mixins.scss";

.user-col {
  @extend .col;
  border-right: 4px solid lighten($color-text, 40%);
  flex-grow: 2;
}

.user-input-section {
  @extend .input-section;
}

.user-name-instance {
  @extend .list-item;
}

.active-user {
  background-color: lighten($color-primary, 40%);
}

.empty-user-list {
  @extend .empty-list;
}
