@import "../styles/base.scss";
@import "../styles/mixins.scss";
@import "../styles/colors.scss";

.hobbies-col {
  @extend .col;
  flex-grow: 3;
}

.hobby-input-section {
  @extend .input-section;
}

.show-hobbies-list {
  display: inline;
}

.hide-hobbies-list {
  display: none;
}

.hobby-list {
}

.hobby-instance {
  @extend .list-item;
  cursor: default;
  display: flex;
  justify-content: space-evenly;
}

.empty-hobby-list {
  @extend .empty-list;
}

.delete-hobby {
  color: $color-danger;
  cursor: pointer;
}
