@import "../../styles/base.scss";
@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.hobbies-col {
  width: 100%;
}

.hobby-input-section {
  @extend .input-section;
}

.input-row {
  display: flex;
  align-items: center;
}

.show-hobbies-list {
  display: inline;
}

.hide-hobbies-list {
  display: none;
}

.hobby-list {
  @extend .list;
}

.hobby-instance {
  @extend .list-item;
  cursor: default;
  display: flex;
  justify-content: space-evenly;
  span {
    width: 200px;
  }
}

.empty-hobby-list {
  @extend .empty-list;
}

.delete-hobby {
  color: $color-danger;
  cursor: pointer;
}

//media queries
@media (max-width: 1350px) {
  .hobby-input-section {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 112px;
  }
  .hobby-instance span {
    width: 100px;
  }
}

@media (max-width: 900px) {
  .input-row {
    flex-direction: row;
  }
}
