@import "../../styles/colors.scss";
@import "../../styles/base.scss";
@import "../../styles/mixins.scss";

.user-col {
  width: 600px;
  border-right: 4px solid lighten($color-text, 40%);
}

.user-input-section {
  @extend .input-section;
}

.user-name-instance {
  @extend .list-item;
}

.user-list {
  @extend .list;
}

.active-user {
  background-color: lighten($color-primary, 40%);
}

.empty-user-list {
  @extend .empty-list;
}

// media queries
@media (max-width: 1350px) {
  .user-input-section {
    justify-content: space-between;
    align-items: center;
    height: 112px;
  }
}

@media (max-width: 900px) {
  .user-input-section {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 112px;
  }
}
